<nav class="flex justify-between items-center p-2 bg-gray-200 shadow-md">
    <div class="flex items-center space-x-4">
        <a href="{{ path('app_home') }}">
            <img class="h-6 w-auto" src="{{ asset('images/owl.svg') }}" alt="Minerva">
        </a>
        <twig:UI:Dropdown
                buttonText="Collections"
                position="left"
                :items="[
                { label: 'Thèmes', path: path('app_home') },
                { label: 'Auteurs', path: path('app_home', { sliders: 'authors' }) }
            ]"
        />
    </div>

    <div class="flex items-center space-x-4">
        <twig:UI:Search />
        {% if this.isAuthenticated() %}
            <twig:UI:Dropdown
                    buttonIcon="gg:profile"
                    buttonIconSize="20"
                    buttonIconClass="text-gray-600"
                    position="right"
                    :items="[
                    {
                        label: 'Mon profil',
                        path: path('app_home'),
                        icon: 'heroicons:user-circle',
                        iconClass: 'text-black'
                    },
                    {
                        label: 'Emprunts',
                        path: path('app_home'),
                        icon: 'mdi:hand-open',
                        iconClass: 'text-blue-500'
                    },
                    {
                        label: 'Déconnexion',
                        path: path('app_logout'),
                        icon: 'heroicons:arrow-left-on-rectangle',
                        iconClass: 'text-red-500'
                    }
                ]"
            />
        {% else %}
            <div class="flex items-center space-x-4">
                <a href="{{ path('app_login') }}" class="flex items-center gap-1 text-sm/6 font-semibold text-gray-900 hover:text-blue-500">
                    <span>Se connecter</span>
                </a>
                <a href="{{ path('app_register') }}" class="flex items-center gap-1 text-sm/6 font-semibold text-gray-900 hover:text-green-500">
                    <span>S'inscrire</span>
                </a>
            </div>
        {% endif %}
    </div>
</nav>