{% extends 'base.html.twig' %}

{% block title %} {{ book.title }} {% endblock %}

{% block body %}
    <div class="h-[80vh] p-6">
        <twig:Book:Details
                book="{{ book }}"/>
    </div>

{% endblock %}
