{% extends 'base.html.twig' %}

{% block title %}Mes emprunts{% endblock %}

{% block body %}
    <div class="mx-auto px-2 py-4">
        <h1 class="text-2xl font-bold mb-6">
            Mes emprunts
        </h1>

        <twig:Borrowing:BorrowingList />
    </div>
{% endblock %}
