<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Minerva-{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
</head>
<body class="h-full bg-white">
<twig:nav_bar/>
{% block body %}{% endblock %}
</body>
</html>